@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: plum;
    text-align: center;
    height: 60px;
    padding: 20px;
}
main{
    text-align: justify;
}
p{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}




#paralax1{
    padding-top: 50px;
    padding-left: 10px;
    height: 250px;
    width: 100vw;
    background-image: url(IMG_0399.JPG);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.499);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.814);
    
}
#paralax2{
    padding-top: 50px;
    padding-left: 10px;
    height: 250px;
    width: 100vw;
    background-image: url(IMG_0398.JPG);
    background-size: cover;
    background-position: bottom, left;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.499);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.814);
    

}

footer{
    background-color: plum;
}
